<div class="d-flex navbar-lewagon navbar-collapse p-4">
  <%= image_tag "logo.png", alt: "Cocktail logo", width: 80 %>
<!--   <%= link_to 'Add a cocktail', root_path, class:"btn btn-light btn-lg" %>
 -->  <!-- Button trigger modal -->
<button type="button" class="btn btn-light btn-lg" data-toggle="modal" data-target="#addcocktail">
Add a cocktail</button>

<!-- Modal -->
<div class="modal fade" id="addcocktail" tabindex="-1" role="dialog" aria-labelledby="addcocktailLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="addcocktailLabel">Add a cocktail</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div>
          <%= simple_form_for [@cocktail] do |f| %>
            <%= f.input :name %>
            <%= f.input :photo %>
            <%= f.input :photo_cache, as: :hidden %>
            <%= f.submit "Add a cocktail", class: "btn", style:"background-color: #E04D7B;color: white" %>
          <% end %>
        </div>
      </div>
      <!-- <div class="modal-footer">
        <button type="button" class="btn btn-light" data-dismiss="modal">Cancel</button>
        <button type="button" class="btn" style="background-color: #E04D7B;color: white">Add a cocktail</button>
      </div> -->
    </div>
  </div>
</div>


  <%= image_tag "caroline.png", alt: "Cocktail logo", class:"avatar-large" %>
</div>
<div class="banner mb-1">
  <div class="banner-overlay-dark">
      <div class="banner-content text-center">
        <h1>Homemade Cocktails</h1>
        <h2>Make your own cocktails for your next party.</h2>
      </div>
  </div>
</div>
<div>
  <h3 class="pt-5 pb-3 text-center">Choose a cocktail</h3>
</div>

<div class="cards-container d-flex align-items-center mx-5">
  <div class="row">
<% @cocktails.each do |cocktail| %>

    <div class="col-12 col-md-6 col-lg-3">
    <div class="card-container mt-4">
      <%= cl_image_tag cocktail.photo, height: 300, width: 400, crop: :fill, class:"card-product-image" %>
      <div class="card-product-content p-3 text-center">
        <h4 class="p-2"><%= cocktail.name.capitalize %></h3>
        <div>
          <h5><%= link_to "Learn", cocktail_path(cocktail), class:"btn btn-light" %></h5>
        </div>
      </div>
    </div>
  </div>
<% end %>
  </div>






</div>

<!-- app/views/articles/index.html.erb -->


<!--
<h2>Card trip</h2>
  <div class="container">

    <div class="card-trip">
      <img class="card-trip-image" src="images/athens.jpg" alt="Athens">
      <div class="card-trip-footer">
        <div>
          <h2>Trip to Athens</h2>
          <p>Discover the capital of Greece!</p>
        </div>
        <h3>￡179.99</h3>
      </div>
    </div> -->

<!-- .container {
  max-width: 700px;
  margin: 0 auto;
}

.card-trip{
  background-color: white;
  border-radius: 3px;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.1);
} -->

<!-- .card-trip-image {
  width: 100%;
  height: 300px;
  object-fit: cover;
  object-position: bottom;
} -->
<!--
.card-trip-footer {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  padding: 20px;
} -->
