<div class="banner-item">
  <div class="banner-overlay-white">
      <div class="banner-item-content text-center">
        <h1><%= @cocktail.name.capitalize %></h1>
        <h2>Make your own <%= @cocktail.name.capitalize %>!</h2>
      </div>
  <h3 class="pt-3">Preparation</h3>

<ul>
<% @doses.each do |dose| %>
  <li><strong><%= dose.ingredient.name %></strong>:
    <%= dose.description %> -
    <%= link_to '<i class="far fa-trash-alt"></i>'.html_safe, doses_path(dose), class:'icon',
      method: :delete,
      data: { confirm: "Are you sure?" } %>
  </li>
<% end %>
  <li id="add-ingredient"><%= link_to 'Add ingredient', new_cocktail_dose_path(@cocktail) %></li>
</ul>


<%= link_to '<i class="fas fa-home fa-3x"></i>'.html_safe, cocktails_path(@cocktail), class:"icon" %>
</div>





