<div class="banner-item">
  <div class="banner-overlay-white">
    <div class="banner-item-content">
      <h1 class="text-center"><%= @cocktail.name.capitalize %></h1>
      <h2 class="text-center">Make your own <%= @cocktail.name.capitalize %>!</h2>
      <div class="banner-item-description d-flex p-5">
        <%= cl_image_tag @cocktail.photo, height: 300, width: 400, crop: :fill %>
        <div class="pl-3">
          <div>
            <h3>Preparation</h3>
          </div>
          <div class="pt-2">
            <% @doses.each do |dose| %>
              <div>
              <%= dose.description %> of
                <strong><%= dose.ingredient.name %></strong>
                <%= link_to '<i class="far fa-trash-alt"></i>'.html_safe, cocktail_dose_path(dose.cocktail_id, dose), class:'icon',
                    method: :delete,
                    data: { confirm: "Are you sure?" } %>
              </div>
            <% end %>
          </div>
          <div class="pt-5">
              <!-- Button trigger modal -->
            <button type="button" class="btn btn-light" data-toggle="modal" data-target="#addingredient">
              Add ingredient
            </button>

            <!-- Modal -->
            <div class="modal fade" id="addingredient" tabindex="-1" role="dialog" aria-labelledby="addingredientLabel" aria-hidden="true">
              <div class="modal-dialog" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" id="addingredientLabel">Add ingredient</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                  <div class="modal-body">

                    <%= simple_form_for [@cocktail, @dose] do |f| %>
                      <%= f.input :description %>
                      <%= f.association :ingredient, collection: @ingredients %>

                     <%= f.submit "Add a dose", class: "btn", style:"background-color: #E04D7B;color: white" %>
                    <% end %>
                  </div>
                  <!-- <div class="modal-footer"> -->
                    <!-- <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary">Save changes</button> -->
                  <!-- </div> -->
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="text-center">
        <%= link_to '<i class="fas fa-home fa-3x"></i>'.html_safe, root_path, class:"icon" %>
      </div>
    </div>
  </div>
</div>





